<br>
<table class="table table-hover shadow p-3 mb-5 bg-white rounded">
  <tr>
    <th>S/N</th>
    <th>Company</th>
    <th>Franchise</th>
    <th>Quizzes</th>
    <th>Progress</th>
  </tr>
    <% count = 0 %>
    <% @licences.each do |licence| %>
      <% if licence.licence_status == "approved" && licence.company_profile.profile.user == current_user%>
        <tr>
          <% count += 1 %>
          <td><%= count %></td>
          <td><%= licence.company_profile.name %></td>
          <td><%= licence.franchise.name %></td>
          <td>
            <% licence.franchise.quizzes.each do |quiz| %>
              <%= link_to "#{quiz.quiz_name}", licence_quiz_path(licence, quiz.id), {class: "btn btn-dark btn-sm", style: "border-radius: 0.25rem;"} %>
            <% end %>
          </td>
          <div class= "circles">
          <td>
            <% licence.franchise.quizzes.each do |q| %>
              <% if q.quiz_attempts == []%>
                <%= image_tag "orange.png", style: 'height:25px;width:25px;margin-bottom:10px;' %>
              <% else %>
                <% q.quiz_attempts.each do |check| %>
                  <% if check.status == "pass" %>
                    <%= image_tag "green.png", style: 'height:25px;width:25px;margin-bottom:10px;' %>
                    <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </tr>
      <% end %>
    <% end %>
</table>



<%# <%= licence.quiz_attempts.where(status: "pass").count %>
<%# <%= licence.franchise.quizzes.count %>
