<table class="table table-hover shadow p-3 mb-5 bg-white rounded">
  <tr>
    <th>S/N</th>
    <th>Company</th>
    <th>Franchise</th>
    <th>Quizzes</th>
    <th>Status</th>
  </tr>
    <% count = 0 %>
    <% @licences.each do |licence| %>
      <% if licence.licence_status == "approved" && licence.company_profile.profile.user == current_user%>
        <tr>
          <% count += 1 %>
          <td><%= count %></td>
          <td><%= licence.company_profile.name %></td>
          <td><%= licence.franchise.name %></td>
          <td>
            <% licence.franchise.quizzes.each do |quiz| %>
              <%= link_to "#{quiz.quiz_name}", licence_quiz_path(licence, quiz.id) %>,
            <% end %>
          </td>
          <td><%= licence.quiz_attempts.where(passed: true).count %>/<%= licence.franchise.quizzes.count %></td>
        </tr>
      <% end %>
    <% end %>
</table>
