<table class="table table-hover shadow p-3 mb-5 bg-white rounded">
  <tr>
    <th>S/N</th>
    <th>Company</th>
    <th>Franchise</th>
    <th>Quiz Progress</th>
  </tr>
  <% if @licences != [] %>
    <% count = 0 %>
    <% @licences.each do |licence| %>
      <% if licence.licence_status == "approved" %>
        <tr>
          <% count += 1 %>
          <td><%= count %></td>
          <td><%= licence.company_profile.name %></td>
          <td><%= licence.franchise.name %></td>
          <td>
            <div class="indicator-wrapper">
              <% licence.franchise.quizzes.each do |quiz| %>
              <div class="quiz-indicator">
                <%= link_to quiz.passed? ? image_tag("green.png") : image_tag("orange.png"), licence_quiz_path(licence, quiz.id), {class: "", style: "border-radius: 0.25rem;"} %>
                <span><%= quiz.quiz_name %></span>
              </div>
              <% end %>
            </div>
          </td>
          # the previous code is here
        </tr>
      <% end %>
    <% end %>
  <% else %>
    <tr>
      <td colspan="9" style="text-align: center; font-size: 25px">
      <p><strong>No licences approved for training phase yet.</strong></p>
      </td>
    </tr>
  <% end %>
</table>



<%# <%= licence.quiz_attempts.where(status: "pass").count %>
<%# <%= licence.franchise.quizzes.count %>
