<table class="table table-hover shadow p-3 mb-5 bg-white rounded">
  <tr>
    <th>S/N</th>
    <th>Company</th>
    <th>Franchise</th>
    <th>Quizzes</th>
    <th>Progress</th>
  </tr>
  <% if @licences != [] %>
    <% count = 0 %>
    <% @licences.each do |licence| %>
      <% if licence.licence_status == "approved" %>
        <tr>
          <% count += 1 %>
          <td><%= count %></td>
          <td><%= licence.company_profile.name %></td>
          <td><%= licence.franchise.name %></td>
          <td>
            <% licence.franchise.quizzes.each do |quiz| %>
              <%= link_to "#{quiz.quiz_name}", franchise_quiz_path(quiz.franchise, quiz.id), class: "btn btn-dark btn-sm", style: "border-radius: 0.25rem;" %>
            <% end %>
          </td>
          <td>
            <% licence.franchise.quizzes.each do |q| %>
              <% if q.quiz_attempts == []%>
                <%= image_tag "orange.png", style: 'height:25px;width:25px;margin-bottom:10px;' %>
              <% else %>
                <% q.quiz_attempts.each do |check| %>
                  <% if check.status == "pass" %>
                    <%= image_tag "green.png", style: 'height:25px;width:25px;margin-bottom:10px;' %>
                    <% end %>
                <% end %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  <% else %>
    <tr>
      <td colspan="9" style="text-align: center; font-size: 25px">
      <p><strong>No licences approved for training phase yet.</strong></p>
      </td>
    </tr>
  <% end %>
</table>



<%# <%= licence.quiz_attempts.where(status: "pass").count %>
<%# <%= licence.franchise.quizzes.count %>
