<h1><%= @quiz.quiz_name %></h1><br>
<%= link_to "Back", :back %><br>
<ul>
  <li>Franchise: <%= link_to "#{@quiz.franchise.name}", franchise_path %></li>
  <li>Video Link: <%= @quiz.video_url %></li>
  <%= link_to "Quiz Questions", quiz_quiz_questions_path(@quiz) %>
</ul>
