<h1><%= @quiz.quiz_name %></h1>
<%= link_to "Back", trainings_path %><br>

<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @quiz.video_url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br><br>

<span>Franchise: <%= link_to "#{@quiz.franchise.name}", franchise_path %></span><br>

<% if current_user.admin? %>
  <span>Admin is not required to take test.</span><br>
<% elsif @quiz.quiz_attempts.any? && @quiz.quiz_attempts.last.status == "pass" %>
  <span>Attempted by: <%= @licence.company_profile.name %></span><br>
  <span>You've passed this quiz after <%= @quiz_attempts.where(quiz_id: @quiz.id).count %> attempts.</span><br>
<% elsif @quiz.quiz_attempts.any? && @quiz.quiz_attempts.last.status != "pass" %>
  <span>Attempted by: <%= @licence.company_profile.name %></span><br>
  <span><%= @quiz_attempts.where(quiz_id: @quiz.id).count %> failed attempts. Come on you can do it!</span><br>
  <%= link_to "Attempt Quiz", new_licence_quiz_quiz_attempt_path(licence_id: @licence.id, quiz_id: @quiz.id) %><br>
<% else %>
  <span>To be attempted by: <%= @licence.company_profile.name %></span><br>
  <span><%= @quiz_attempts.where(quiz_id: @quiz.id).count %> attempts. Start quiz by clicking the link below!</span><br>
  <%= link_to "Attempt Quiz", new_licence_quiz_quiz_attempt_path(licence_id: @licence.id, quiz_id: @quiz.id) %><br>
<% end %>

<body>
    <div class="container" style="height: 109px;">
        <div class="row">
            <div class="col" style="padding-right: 81px;padding-left: 92px;">
                <div class="card" style="width: 758px;height: 607.672px;border-radius: 10px;box-shadow: 0px 0px 3px;margin-top: 15px;">
                    <div class="card-body" style="padding-right: 29px;padding-left: 25px;">
                        <h4 class="card-title" style="margin-bottom: 13px;">Created template for Training Video</h4>
                        <div class="video-container" style="height: 459.875px;width: 700px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/KSJ7Kfonn7I?loop=1&amp;playlist=KSJ7Kfonn7I" width="500" height="300" style="width: 700px;height: 460px;"></iframe></div>
                        <div class="row">
                            <div class="col d-lg-flex justify-content-lg-center" style="margin-top: 20px;"><button class="btn btn-primary" type="button" style="margin-right: 8px;">I have completed the video</button><button class="btn btn-primary" type="button">Launch Quiz</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
