<h1><%= @quiz.quiz_name %></h1><br>
<%= link_to "back", :back %>
<ul>
  <li>Franchise: <%= link_to "#{@quiz.franchise.name}", franchise_path %></li>
  <li>Watch video: <%= @quiz.video_url %></li>
  <li>Video watched? <%= @quiz.video_completed %></li>
</ul>
