<h1><%= @quiz.quiz_name %></h1>
<%= link_to "Back", :back %><br>

<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @quiz.video_url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br><br>

<span>Franchise: <%= link_to "#{@quiz.franchise.name}", franchise_path %></span><br>
<%# how to point to the specific partner (company)doing this quiz? %>
<% if current_user.admin? %>
<% else %>
  <span>Attempt by: <%= @licence.company_profile.name %></span><br>
  <%= link_to "Attempt Quiz",
  new_licence_quiz_quiz_attempt_path(licence_id: @licence.id, quiz_id: @quiz.id) %>
<% end %>
