<div class="d-flex justify-content-between">
  <h1>Manage Applicants</h1><br>
  <% unless current_user.profile.present? %>
  <%= link_to "Create new Applicant", new_profile_path, class: "btn btn-primary", style: "border-radius: 10px;height: 40px;" %>
  <% end %>
</div>
<table class="table table-hover shadow p-3 mb-5 bg-white rounded">
  <tr>
    <th>S/N</th>
    <th>Applicant</th>
    <th>Verified Companies</th>
    <th>Licences Acquired</th>
    <th>Operating Outlets</th>
    <th></th>
  </tr>

  <% if current_user.admin? %>
    <% if current_user.profile.present? %>
      <% @profiles.each do |p| %>
      <tr>
        <% if p.id != 1 %>
          <td><%= p.id - 1 %>.</td>
          <td><%= link_to "#{p.first_name}", profile_path(p) %></td>
          <td>
          <% verified_count = 0 %>
          <% p.company_profile.each do |company| %>
            <% if company.status == "verified" %>
                <% verified_count += 1 %>
            <% end %>
          <% end %>
          <%= verified_count %> / <%= p.company_profile.count %>
          </td>
          <td>1</td>
          <td>Training in Progress</td>
          <td><%= link_to "Edit", edit_profile_path(p), class: "btn btn-dark btn-sm", style: "border-radius: 0.25rem;" %></td>
        <% end %>
      <% end %>
        <br>
      </tr>

    <% else %>
      <tr>
        <td colspan="5" style="text-align: center; font-size: 25px">
        <p><strong>No profiles yet, please create a <%= link_to "profile", new_profile_path %>.</strong></p>
        </td>
      </tr>
    <% end %>
  <% else %>
      <% if current_user.profile.present? %>
      <% profile = current_user.profile %>
      <tr>
          <% if profile.id != 1 %>
            <td><%= profile.id - 1 %>.</td>
            <td><%= link_to "#{profile.first_name}", profile_path(profile) %></td>
            <td>
            <% verified_count = 0 %>
            <% profile.company_profile.each do |company| %>
              <% if company.status == "verified" %>
                  <% verified_count += 1 %>
              <% end %>
            <% end %>
            <%= verified_count %> / <%= profile.company_profile.count %>
            </td>
            <td>Pending</td>
            <td><%= link_to "Edit", edit_profile_path(profile) %></td>
          <% end %>
        <br>
      </tr>
      <% end %>
  <% end %>


  <br>
</table>
