<h1>profiles#index</h1>
<br>
<% if @profiles.any? %>
  <% @profiles.each do |profile| %>
    <%= profile.id %>.
    <%= profile.first_name %>
    <%= profile.last_name %>,
    <%= profile.contact_number %>,
    <%= profile.description %>,
    <%= profile.country %>
    <%= link_to "View", profile_path(profile) %>
  <% end %>
<% else %>
  <p>No profiles yet.</p>
<% end %>
<br>
