<body style="text-align: center;font-weight: bold;">
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col" style="padding-top: 17px;margin-right: 2px;padding-right: 27px;"><%= link_to 'Edit', edit_profile_path(@profile), class: "btn btn-primary" %></div>
    </div>
    <div class="row" style="height: 597px;">
        <div class="col-xxl-5" style="margin-right: 0px;">
            <div class="card" style="width: 549.5px;padding-left: 0px;margin-top: 11px;margin-left: 30px;font-size: 20px;border-color: transparent;background: transparent;">
                <div class="card-body p-4" style="height: 572px;box-shadow: 0px 0px 3px;border-radius: 20px;background: white;"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="185" height="192" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" style="margin-bottom: 28px;">
                    <h1 style="text-align: left;font-size: 30px;"><%= @profile.first_name %> <%= @profile.last_name %></h1>
                    <br>
                    <h1 style="text-align: left;font-size: 20px;">Contact Number: <%= @profile.contact_number %>&nbsp;</h1>
                    <br>
                    <h1 style="text-align: left;font-size: 20px;">Description: <%= @profile.description %></h1>
                    <br>
                    <h1 style="text-align: left;font-size: 20px;">Based in: <%= @profile.country %></h1>
                    <div class="d-flex"></div>
                </div>
            </div>
        </div>
        <div class="col" style="height: 423.594px;margin-left: 0px;margin-right: 67px;">
            <div class="row">
                <div class="col">
                    <h1 style="font-size: 30px;margin-top: 10px;text-align: left;">Companies</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card" style="border-radius: 20px;box-shadow: 0px 0px 3px;">
                        <div class="card-body" style="height: 170.594px;">
                            <h4 class="card-title" style="text-align: center;font-size: 30px;">Total</h4>
                            <h4 class="card-title" style="text-align: center;font-weight: bold;font-size: 49px;">8</h4>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="border-radius: 20px;box-shadow: 0px 0px 3px;">
                        <div class="card-body" style="height: 170.594px;box-shadow: 0px 0px 0px;">
                            <h4 class="card-title" style="text-align: center;font-size: 30px;">Pending</h4>
                            <h4 class="card-title" style="text-align: center;font-weight: bold;font-size: 50px;">1</h4>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="border-radius: 20px;box-shadow: 0px 0px 3px;">
                        <div class="card-body" style="height: 170px;border-radius: 0px;box-shadow: 0px 0px;">
                            <h4 class="card-title" style="text-align: center;font-size: 30px;">Verified</h4>
                            <h4 class="card-title" style="text-align: center;font-weight: bold;font-size: 50px;">1</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 12px;height: 186px;">
                <div class="col-xxl-6" style="height: 188px;">
                    <div class="card" style="border-radius: 20px;box-shadow: 0px 0px 3px;">
                        <div class="card-body" style="height: 170px;">
                            <h4 class="card-title" style="font-size: 30px;">Licence obtained</h4>
                            <h4 class="card-title" style="font-weight: bold;font-size: 50px;">2</h4>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="border-radius: 20px;box-shadow: 0px 0px 3px;">
                        <div class="card-body" style="height: 170px;">
                            <h4 class="card-title" style="font-size: 30px;">Operating Outlets</h4>
                            <h4 class="card-title" style="font-weight: bold;font-size: 50px;">2</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

<h1><%= @profile.first_name %> <%= @profile.last_name %></h1>
<%= link_to "Back", :back %><br>

<h4>Profile</h4><br>
<ul>
  <li>Profile Pic: <"Require Willie's input"></li>
  <li>Description: <%= @profile.description %></li>
  <li>Based in: <%= @profile.country %></li>
  <li>Contact Number: <%= @profile.contact_number %></li>
</ul>

<% if @profile.user.id == 1 %>
  <%= render "owner", profile: @profile %><br>
<% else %>
  <%= render "applicants", profile: @profile %><br>
<% end %>

<%= link_to 'Edit', edit_profile_path(@profile), class: "btn btn-primary" %>
