<div class="container">
  <div class="row">
    <div class="col" style="padding-bottom: 24px;padding-top: 19px;">
      <h1 class="font-page-title">Overview</h1>
    </div>
  </div>
</div>

<div class="container">

  <div class="row mt-1">
    <div class="col-lg-5">
      <div class="card shadow-sm" style="border-radius: 5px">
        <div class="card-body">
          <span><%= link_to 'Edit', edit_profile_path(@profile), class: "btn btn-dark btn-sm rounded float-right" %></span>
          <img class="avatar-profile mx-auto d-block m-2" alt="avatar" src="https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/35af6a41332353.57a1ce913e889.jpg">
          <div class="font-title mx-auto d-block pt-2"><%= @profile.first_name %> <%= @profile.last_name %></div>
          <div class="info font-content ">
            <div><p>Email :</p></div><p><%= @profile.user.email %></p>
          </div>
          <div class="info font-content ">
            <div><p>Contact :</p></div><p><%= @profile.contact_number %></p>
          </div>
          <div class="info font-content ">
            <div><p>Based In :</p></div>
            <p><%= @profile.country %></p>
          </div>
          <div class="info-description font-content text-justify">
            <div><p><em><%= @profile.description %></em></p></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row">
        <div class="col font-category-title mb-2"><span>Companies</span></div>
      </div>

      <div class="row mb-3">

        <div class="col">
          <div class="card shadow-sm" style="border-radius: 5px">
            <div class="card-body align-middle" style="height: 120px;">
              <h5 class="card-title font-box-title" style="text-align: center;font-size: 20px;">Total</h5>
              <p class="card-text font-box-content"><%= @profile.company_profile.count %></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm" style="border-radius: 5px;">
            <div class="card-body align-middle" style="height: 120px;">
              <h5 class="card-title font-box-title" style="text-align: center;font-size: 20px;">Pending Verification</h5>
              <p class="card-text font-box-content"><%= @profile.company_profile.where(status: "pending").count %></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm" style="border-radius: 5px;">
            <div class="card-body align-middle" style="height: 120px;">
              <h5 class="card-title font-box-title" style="text-align: center;font-size: 20px;">Verified</h5>
              <p class="card-text font-box-content"><%= @profile.company_profile.where(status: "verified").count %></p>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col font-category-title mb-2"><span>Licences</span></div>
      </div>

      <div class="row mb-3">

        <div class="col">
          <div class="card shadow-sm" style="border-radius: 5px;">
            <div class="card-body align-middle" style="height: 120px;">
              <h5 class="card-title font-box-title" style="text-align: center;font-size: 20px;">Applied</h5>
              <p class="card-text font-box-content"><%= current_user.licences.count %></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm" style="border-radius: 5px;">
            <div class="card-body align-middle" style="height: 120px;">
              <h5 class="card-title font-box-title" style="text-align: center;font-size: 20px;">Pending Approval</h5>
              <p class="card-text font-box-content">
                <% count = 0 %>
                <% current_user.licences.each do |licence| %>
                  <% if licence.licence_status == "pending" %>
                    <% count += 1 %>
                  <% end %>
                <% end %>
                <%= count %>
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm" style="border-radius: 5px;">
            <div class="card-body align-middle" style="height: 120px;">
              <h5 class="card-title font-box-title" style="text-align: center;font-size: 20px;">Approved</h5>
              <p class="card-text font-box-content">
                <% count = 0 %>
                <% current_user.licences.each do |licence| %>
                  <% if licence.licence_status == "approved" %>
                    <% count += 1 %>
                  <% end %>
                <% end %>
                <%= count %>
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col">
          <div class="font-category-title mb-2"><span>Quizzes</span></div>
        </div>
        <div class="col">
          <div class="font-category-title mb-2"><span>Operational</span></div>
        </div>
      </div>

      <div class="row">

        <div class="col">
          <div class="card shadow-sm" style="border-radius: 5px;">
            <div class="card-body align-middle" style="height: 120px;">
              <h5 class="card-title font-box-title" style="text-align: center;font-size: 20px;">To complete</h5>
              <p class="card-text font-box-content">1</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm" style="border-radius: 5px;">
            <div class="card-body align-middle" style="height: 120px;">
              <h5 class="card-title font-box-title" style="text-align: center;font-size: 20px;">Completed all requirements</h5>
              <p class="card-text font-box-content">
                <% count = 0 %>
                <% current_user.licences.each do |licence| %>
                  <% if licence.licence_status == "approved" %>
                    <% count += 1 %>
                  <% end %>
                <% end %>
                <%= count %>
              </p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
