<div class="container">
    <div class="row">
        <div class="col" style="padding-bottom: 24px;padding-top: 19px;">
            <h1 style="padding-left: 16px;font-size: 30px;margin-bottom: 1px;">Overview</h1>
        </div>
        <div class="col"></div>
        <div class="col" style="padding-top: 25px;padding-bottom: 12px;padding-left: 800px"><%= link_to 'Edit', edit_profile_path(@profile), class: "btn btn-dark", style: "border-radius: 10px;width: 100px" %></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <div class="card" style="border-radius: 10px;box-shadow: 0px 0px 2px;">
                <div class="card-body" style="padding-left: 20px;">
                    <div class="row">
                        <div class="col d-lg-flex justify-content-lg-center" style="margin-bottom: 15px;"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="184" height="184" image_tag "politecat.jpg" img style="margin-left: 10px;"></div>
                    </div>
                    <h4 class="card-title"><%= @profile.first_name %> <%= @profile.last_name %></h4>
                    <p>Contact no.: <%= @profile.contact_number %></p>
                    <p>Description : <%= @profile.description %></p>
                    <p>Based in : <%= @profile.country %></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <h1 style="font-size: 25px;">Companies</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card" style="border-radius: 10px;box-shadow: 0px 0px 2px;">
                        <div class="card-body" style="height: 130px;border-radius: 15px; box-shadow: 0px 0px;">
                            <h4 class="card-title" style="text-align: center;  font-size: 20px;">Total</h4>
                            <p class="card-text" style="text-align: center; font-size: 30px;"><%= @profile.company_profile.count %></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="border-radius: 10px;box-shadow: 0px 0px 2px;">
                        <div class="card-body" style="height: 130px;">
                            <h4 class="card-title" style="text-align: center;font-size: 20px;">Pending</h4>
                            <p class="card-text" style="text-align: center;font-size: 30px;"><%= @profile.company_profile.where(status: "pending").count %></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="border-radius: 10px;box-shadow: 0px 0px 2px;">
                        <div class="card-body" style="height: 130px;">
                            <h4 class="card-title" style="text-align: center;font-size: 20px;">Verified</h4>
                            <p class="card-text" style="text-align: center;font-size: 30px;"><%= @profile.company_profile.where(status: "verified").count %></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col">
                    <div class="card" style="border-radius: 10px;">
                        <div class="card-body" style="height: 130px;border-radius: 10px;box-shadow: 0px 0px 2px;">
                            <h4 class="card-title" style="text-align: center;font-size: 20px;">Licence obtained</h4>
                            <p style="text-align: center;font-size: 30px;"><%= current_user.licences.count %></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="border-radius: 10px;box-shadow: 0px 0px 2px;">
                        <div class="card-body" style="height: 130px;">
                            <h4 class="card-title" style="font-size: 20px;text-align: center;">Operating Outlets</h4>
                            <p style="text-align: center;font-size: 30px;"><%= current_user.licences.count %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
