
<h1><%= @profile.first_name %> <%= @profile.last_name %></h1>
<%= link_to "Back", :back %><br>

<ul>
  <li>Profile Pic: <"Require Willie's input"></li>
  <li>Description: <%= @profile.description %></li>
  <li>Based in: <%= @profile.country %></li>
  <li>Contact Number: <%= @profile.contact_number %></li>
</ul>

<% if @profile.user.id == 1 %>
  <%= render "owner", profile: @profile %><br>
<% else %>
  <%= render "applicants", profile: @profile %><br>
<% end %>

<%= link_to 'Edit', edit_profile_path(@profile), class: "btn btn-primary" %>
