<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="navbar-brand">
      <% if user_signed_in? %>
        <span></span>
        <button class="btn btn-link rounded-circle me-3" type="button">
        <i class="fa-solid fa-bars class="openbtn" onclick="openNav()""></i>
        </button>
      <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
            <% if user_signed_in? %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My Profile", profile_path(current_user), class: "dropdown-item" %>
              <% if current_user.id == 1 %>
                <%= link_to "My Franchises", franchises_path(current_user), class: "dropdown-item" %>
              <% end %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>

            </div>
          </li>
          <% else %>
             <%= image_tag "https://cdn3.iconfinder.com/data/icons/vector-icons-6/96/256-1024.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          </li>
          <% end %>
      </ul>
    </div>
  </div>
</div>

<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" style="width: 100%; text-align: right;" onclick="closeNav()">×</a>

  <% if user_signed_in? && current_user.id == 1 %>
    <%= link_to "Overview", "#" %>
    <%= link_to "All Applicants", profiles_path %>
    <%= link_to "Review Companies", company_profiles_path %>
    <%= link_to "Licencing", licences_path %>
    <%= link_to "Training & Quiz", "#" %>
  <% else %>
    <%= link_to "Overview", "#" %>
    <%= link_to "My Companies", company_profiles_path %>
    <%= link_to "My Licences", licences_path %>
    <%= link_to "Audits", "#" %>
    <%= link_to "Operating Outlets", "#" %>
  <% end %>

</div>

<div id="main">
  <%= test %>
</div>
