<% if current_user.company_profiles != [] %>
  <%= link_to "Create", new_company_profile_path %>
<% end %>
<table class="table table-hover shadow p-3 mb-5 bg-white rounded">
    <tr>
      <th>S/N</th>
      <th>Company</th>
      <th>Last Edited</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    <% if @company_profiles.any? %>
      <% if current_user.company_profiles != [] %>
        <% count = 0 %>
        <% @company_profiles.each do |company_profile| %>
          <tr>
            <% if company_profile.profile.user == current_user %>
              <% count += 1 %>
              <td><%= count %>.</td>
              <td><%= link_to "#{company_profile.name}", company_profile_path(company_profile) %></td>
              <td><%= company_profile.updated_at %></td>
              <td><%= company_profile.status %></td>
              <td><%=  %></td>
            <% end %>
          </tr>
        <% end %>
      <% else %>
          <tr>
            <td colspan="5" style="text-align: center; font-size: 25px">
            <p><strong>No company profiles uploaded yet, please <%= link_to "Create", new_company_profile_path %>.</strong></p>
            </td>
          </tr>
      <% end %>
    <% end %>

    <br>
  </table>
