<% if current_user.company_profiles != [] %>
  <%= link_to "Create", new_company_profile_path, class: "btn btn-dark", style: "border-radius: 0.25rem;" %><br>
<% end %>
<table class="table table-hover shadow p-3 mb-5 bg-white rounded">
    <tr>
      <th>S/N</th>
      <th>Company</th>
      <th>Last Edited</th>
      <th>Status</th>
    </tr>
    <% if @company_profiles.any? %>
      <% if current_user.company_profiles != [] %>
        <% count = 0 %>
        <% @company_profiles.each do |company_profile| %>
          <tr>
            <% if company_profile.profile.user == current_user %>
              <% count += 1 %>
              <td><%= count %>.</td>
              <td><%= link_to "#{company_profile.name}", company_profile_path(company_profile) %></td>
              <td><%= company_profile.updated_at %></td>
              <td>
              <% if company_profile.status == "verified" %>
                <span class="verified"><%= company_profile.status %></span>
              <% elsif company_profile.status == "rejected" %>
                <span class="rejected"><%= company_profile.status %></span>
              <% else %>
                <span class="pending"><%= company_profile.status %></span>
              <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% else %>
          <tr>
            <td colspan="5" style="text-align: center; font-size: 25px">
            <p><strong>No company profiles uploaded yet, please <%= link_to "Create", new_company_profile_path %>.</strong></p>
            </td>
          </tr>
      <% end %>
    <% end %>
    <br>
  </table>
