<table class="table table-hover shadow p-3 mb-5 bg-white rounded">
    <tr>
      <th>S/N</th>
      <th>Company</th>
      <th>Found by</th>
      <th>Verified?</th>
      <th>Comments</th>
    </tr>
    <% if current_user.company_profiles != [] %>
     <% count = 0 %>
      <% @company_profiles.each do |company_profile| %>
        <tr>
          <% count += 1 %>
          <td><%= count %>.</td>
          <td><%= link_to "#{company_profile.name}", company_profile_path(company_profile) %></td>
          <td><%= link_to "#{company_profile.profile.first_name}", profile_path(company_profile) %></td>
          <td><%= company_profile.status %></td>
          <td><%=  %></td>
        </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="5" style="text-align: center; font-size: 25px">
          <p><strong>No company profiles yet.</strong></p>
          </td>
        </tr>
      <% end %>
    <br>
  </table>
