<table>
    <tr>
      <th>S/N</th>
      <th>Company</th>
      <th>Found by</th>
      <th>Verified?</th>
      <th>Comments</th>
    </tr>
    <% if @company_profiles.any? %>
      <% @company_profiles.each do |company_profile| %>
        <tr>
          <td><%= company_profile.id %>.</td>
          <td><%= link_to "#{company_profile.name}", company_profile_path(company_profile) %></td>
          <td><%= link_to "#{company_profile.profile.first_name}", profile_path(company_profile) %></td>
          <td><%= company_profile.status %></td>
          <td><%=  %></td>
        </tr>
        <% end %>
      <% else %>
        <p>No company profiles yet.</p>
      <% end %>
    <br>
  </table>
