<table class="table table-hover shadow p-3 mb-5 bg-white rounded">
    <tr>
      <th>S/N</th>
      <th>Company</th>
      <th>Found by</th>
      <th>Verified?</th>
    </tr>
    <% if @company_profiles != [] %>
     <% count = 0 %>
      <% @company_profiles.each do |company_profile| %>
        <tr>
          <% count += 1 %>
          <td><%= count %>.</td>
          <td><%= link_to "#{company_profile.name}", company_profile_path(company_profile) %></td>
          <td><%= company_profile.profile.first_name %></td>
          <td>
          <% if company_profile.status == "verified" %>
            <span class="verified"><%= company_profile.status %></span>
          <% elsif company_profile.status == "rejected" %>
            <span class="rejected"><%= company_profile.status %></span>
          <% else %>
            <span class="pending"><%= company_profile.status %></span>
          <% end %>
          </td>
        </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="5" style="text-align: center; font-size: 25px">
          <p><strong>No company profiles yet.</strong></p>
          </td>
        </tr>
      <% end %>
    <br>
  </table>
