    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-4 col-lg-1 col-xxl-4">
                <h2 style="text-align: left;width: 295px;margin-left: 2px;margin-right: 0px;margin-top: 19px;margin-bottom: 15px;"><%= @company_profile.name %></h2>
            </div>
            <div class="col-md-4 col-lg-4 col-xxl-3"></div>
            <div class="col-xxl-1"></div>
            <% if @company_profile.status == "pending" && current_user.admin? %>
              <%= render "company_profiles/approve", company_profile: @company_profile %>
              <%= render "company_profiles/reject", company_profile: @company_profile %>
              <div class="col"><button class="btn btn-success" type="button" style="width: 98px;margin-top: 20px;margin-left: 8px;border-radius: 8px;color: white;font-weight: bold">Approved</button></div>
              <%# <div class="col"><button class="btn btn-dark" type="button" style="width: 98px;margin-top: 20px;margin-left: 8px;border-radius: 8px;font-weight: bold">Comment</button></div>
              <div class="col"><button class="btn btn-danger" type="button" style="width: 98px;margin-top: 20px;margin-left: 8px;border-radius: 8px;color: white;font-weight: bold">Reject</button></div> %>
            <% end %>
        </div>
    </div>
    <div class="container" style="height: 1006px;">
        <div class="row" style="height: 1040px;">
            <div class="col-md-6 col-xxl-6 d-flex d-xxl-flex" style="height: 1008px;margin-top: 18px;">
                <div class="card" style="height: 932.992px;width: 624px;border-radius: 20px;box-shadow: 0px 0px 3px;">
                    <div class="card-body" style="height: 657.984px;">
                        <div class="row">
                            <div class="col d-xxl-flex justify-content-xxl-center" style="height: 190px;padding-top: 3px;padding-bottom: 0px;"></div>
                            <div class="col"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="178" height="172" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" style="margin-top: 7px;margin-left: 19px;"></div>
                            <div class="col"></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h1 style="text-align: center;font-weight: bold;font-size: 35px;"><%= @company_profile.name %></h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h1 style="text-align: center;font-size: 25px;">Verification Status: <%= @company_profile.status %></h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text-start d-xxl-flex" style="text-align: center;font-weight: bold;font-size: 20px;margin-top: 20px;margin-left: 32px;">Owner:</p>
                            </div>
                            <div class="col">
                                <p style="font-size: 20px;text-align: center;margin-top: 15px;"><%= @company_profile.name %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text-start d-xxl-flex" style="text-align: center;font-weight: bold;font-size: 20px;margin-top: 20px;margin-left: 32px;">Website:</p>
                            </div>
                            <div class="col">
                                <p style="font-size: 20px;text-align: right;margin-top: 15px;"></p>
                                <p style="font-size: 20px;text-align: center;margin-top: 15px;"><%= @company_profile.profile.first_name %>m</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text-start d-xxl-flex" style="text-align: center;font-weight: bold;font-size: 20px;margin-top: 20px;margin-left: 32px;">UEN Number:</p>
                            </div>
                            <div class="col">
                                <p style="font-size: 20px;text-align: right;margin-top: 15px;"></p>
                                <p style="font-size: 20px;text-align: center;margin-top: 15px;"><%= @company_profile.uen %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text-start d-xxl-flex" style="text-align: center;font-weight: bold;font-size: 20px;margin-top: 20px;margin-left: 32px;">Address:</p>
                            </div>
                            <div class="col">
                                <p style="font-size: 20px;text-align: right;margin-top: 15px;"></p>
                                <p style="font-size: 20px;text-align: center;margin-top: 15px;"><%= @company_profile.address %>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-6" style="padding-top: 15px;padding-bottom: 22px;height: 1027px;">
                <h1 style="font-size: 30px;">Finances</h1>
                <div class="row" style="height: 144.7969px;margin-top: 30px;">
                    <div class="col">
                        <div class="card" style="height: 130px;border-radius: 20px;box-shadow: 0px 0px 3px;">
                            <div class="card-body" style="padding-top: 35px;padding-bottom: 35px;">
                                <h4 class="card-title" style="text-align: center;font-weight: bold;">Paid Up Capital</h4>
                                <p class="card-text" style="text-align: center;">$<%= @company_profile.paid_up_capital %></p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="border-radius: 20px;box-shadow: 0px 0px 3px;">
                            <div class="card-body" style="height: 130px;padding-top: 35px;padding-bottom: 35px;">
                                <h4 class="card-title" style="text-align: center;font-weight: bold;">2021 FY Revenue</h4>
                                <p class="card-text" style="text-align: center;">$<%= @company_profile.last_fy_revenue %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="margin-top: 20px;height: 140px;">
                        <div class="card" style="height: 130px;box-shadow: 0px 0px 3px;border-radius: 20px;">
                            <div class="card-body" style="border-radius: 0px;padding-top: 35px;padding-bottom: 35px;">
                                <h4 class="card-title" style="text-align: center;font-weight: bold;">Forecast for the Year</h4>
                                <p class="card-text" style="font-size: 16px;text-align: center;">$1000000</p>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="margin-top: 20px;">
                        <div class="card" style="border-radius: 20px;box-shadow: 0px 0px 3px;">
                            <div class="card-body" style="height: 130px;padding-top: 35px;padding-bottom: 35px;">
                                <h4 class="card-title" style="text-align: center;font-weight: bold;">Fiscal Breakdown</h4>
                                <p class="card-text" style="text-align: center;">$1000000</p>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 style="font-size: 30px;margin-top: 35px;margin-bottom: 15px;">Documents</h1>
                <div class="row">
                    <div class="col">
                        <div class="card" style="border-radius: 20px;box-shadow: 0px 0px 3px;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xxl-6">
                                        <h4 style="font-size: 20px;text-align: left;padding-top: 0px;margin-top: 23px;">Acra registration:&nbsp;</h4>
                                    </div>
                                    <div class="col-xxl-2"></div>
                                    <div class="col-xxl-3"><button class="btn btn-dark" type="button" style="width: 110px;margin-left: 8px;margin-top: 10px;border-radius:8px;font-weight: bold">Download</button></div>
                                </div>
                                <div class="row">
                                    <div class="col-xxl-6">
                                        <h4 style="font-size: 20px;text-align: left;margin-top: 23px;">Document 2:&nbsp;</h4>
                                    </div>
                                    <div class="col-xxl-2"></div>
                                    <div class="col-xxl-3"><button class="btn btn-dark" type="button" style="width: 110px;margin-left: 8px;margin-top: 10px;border-radius:8px;font-weight: bold">Download</button></div>
                                </div>
                                <div class="row">
                                    <div class="col-xxl-6">
                                        <h4 style="font-size: 20px;text-align: left;padding-top: 0px;margin-top: 23px;">Document 3:</h4>
                                    </div>
                                    <div class="col-xxl-2"></div>
                                    <div class="col-xxl-3"><button class="btn btn-dark" type="button" style="width: 110px;margin-left: 8px;margin-top: 10px;border-radius:8px;font-weight: bold">Download</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 style="font-size: 30px;margin-top: 30px;margin-bottom: 13px;">Legal</h1>
                <div class="row" style="margin-top: 30px;">
                    <div class="col" style="margin-top: 0px;">
                        <div class="card" style="box-shadow: 0px 0px 3px;border-radius: 20px;height: 181.992px;">
                            <div class="card-body" style="margin-top: 0px;">
                                <p class="card-text"><%= @company_profile.legal_disputes%></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
