<h1>CompanyProfiles#show</h1>
<br>
Name: <%= @company_profile.name %><br>
UEN: <%= @company_profile.uen %><br>
Address: <%= @company_profile.address %><br>
Owned by: <%= @company_profile.profile.first_name %><br>
URL: <%= @company_profile.url %><br>
Status: <%= @company_profile.status %><br>
<br>
<%= link_to 'Edit', edit_company_profile_path(@company_profile), class: "btn btn-red" %>
<br>

Company Records<br>
Paid Up Capital: <%= @company_records.paid_up_capital %><br>
Last FY Revenue: <%= @company_records.last_fy_revenue %><br>
Legal Disputes: <%= @company_records.legal_disputes %><br>

<%= link_to 'Company Records', company_profile_company_records_path(@company_profile) %>
