<h1>Attempt <%= @attempt.quiz.quiz_name.upcase %></h1>
<div>
  <% @attempt.quiz.quiz_questions.each do |question| %>
    <div>
      <%= simple_form_for([@attempt, @answer]) do |f| %>
        <%= f.input :quiz_question, label: question.question, input_html: { value: question.id, disabled: true, hidden: true } %>
        <%= f.input :quiz_option, collection: question.quiz_options, as: :radio_buttons, label_method: :content %>
        <%= f.submit %>
      <% end %>
    </div>
  <% end %>
</div>
