<table class="table table-hover shadow p-3 mb-5 bg-white rounded">
  <tr>
    <th>S/N</th>
    <th>Request From</th>
    <th>Franchise</th>
    <th>See Details</th>
    <th>Status</th>
  </tr>
  <% if @licences != [] %>
    <% count = 0 %>
    <% @licences.each do |licence| %>
      <tr>
        <% count += 1 %>
        <td><%= count %>.</td>
        <td><%= link_to "#{licence.company_profile.name}", company_profile_path(licence.company_profile) %></td>
        <td><%= licence.franchise.name %></td>
        <td><%= link_to "view", licence_path(licence), class: "btn btn-dark btn-sm", style: "border-radius: 0.25rem;" %></td>
        <td>
          <% if licence.licence_status == "approved" %>
            <span class="approved"><%= licence.licence_status %></span>
          <% elsif licence.licence_status == "rejected" %>
            <span class="rejected"><%= licence.licence_status %></span>
          <% else %>
            <span class="pending"><%= licence.licence_status %></span>
          <% end %>
        </td>
      <% end %>
  <% else %>
    <tr>
      <td colspan="9" style="text-align: center; font-size: 25px">
      <p><strong>No licences yet.</strong></p>
      </td>
    </tr>
  <% end %>
  <br>
</table>
