<table class="table table-hover shadow p-3 mb-5 bg-white rounded">
  <tr>
    <th>S/N</th>
    <th>Request From</th>
    <th>Franchise</th>
    <th>See Details</th>
    <th>Status</th>
  </tr>
  <% if @licences != [] %>
    <% count = 0 %>
    <% @licences.each do |licence| %>
      <tr>
        <% count += 1 %>
        <td><%= count %>.</td>
        <td><%= link_to "#{licence.company_profile.name}", company_profile_path(licence.company_profile),  {class: "btn btn-outline-dark", style: "border-radius: 0.25rem;"} %></td>
        <td><%= link_to "#{licence.franchise.name}", franchise_path(licence.franchise),  {class: "btn btn-outline-dark", style: "border-radius: 0.25rem;"} %></td>
        <td><%= link_to "view", licence_path(licence),  {class: "btn btn-outline-dark", style: "border-radius: 0.25rem;"} %></td>
        <td><%= licence.licence_status %></td>
      <% end %>
  <% else %>
    <tr>
      <td colspan="9" style="text-align: center; font-size: 25px">
      <p><strong>No licences yet.</strong></p>
      </td>
    </tr>
  <% end %>
  <br>
</table>
