<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="en">

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-1 col-xxl-3">
                <h2 style="text-align: left;width: 295px;margin-left: 2px;margin-right: 0px;margin-top: 19px;margin-bottom: 15px;">Ruby Holdings Ltd</h2>
                  <!-- Button trigger modal -->
                    <div class="align-right" style="margin-left: 990px;"><button type="button" class="btn btn-dark" onclick='openModal()'>
                        Comments
                    </button></div> 
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
                          <button type="button" class="close" aria-label="Close"  onclick="closeModal()">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Thank you for submitting your proposal, we would require more information with regards to slide 16 - the forecast numbers for Q3 will need more justification. Thank you!
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
                          <%# <button type="button" class="btn btn-primary">Save changes</button> %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-backdrop fade show" id="backdrop"  style="display: none;"></div>
                <script>
                    function openModal() {
                        document.getElementById("backdrop").style.display = "block"
                        document.getElementById("exampleModal").style.display = "block"
                        document.getElementById("exampleModal").classList.add("show")
                    }
                    function closeModal() {
                        document.getElementById("backdrop").style.display = "none"
                        document.getElementById("exampleModal").style.display = "none"
                        document.getElementById("exampleModal").classList.remove("show")
                    }
                    // Get the modal
                    var modal = document.getElementById('exampleModal');

                    // When the user clicks anywhere outside of the modal, close it
                    window.onclick = function(event) {
                      if (event.target == modal) {
                        closeModal()
                      }
                    }
                </script>
            </div>
            <div class="col-md-4 col-lg-4 col-xxl-3"></div>
            <div class="col-xxl-2"></div>
            <div class= "d-flex flex-row justify-content-end">
                <div class="p-2"><% if @licence.licence_status == "pending" && current_user.admin? %></div>
                <div class="p-2"><%= render "licences/approve", licence: @licence %></div>
                <div class="p-2"><%= render "licences/reject", licence: @licence %></div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="container" style="height: 1006px;">
        <div class="row" style="height: 1040px;">
            <div class="col-md-6 col-xxl-6 d-flex d-xxl-flex" style="height: 1008px;margin-top: 18px;">
                <div class="card" style="height: 932.992px;width: 624px;border-radius: 20px;box-shadow: 0px 0px 3px;">
                    <div class="card-body" style="height: 657.984px;">
                        <div class="row">
                            <div class="col d-xxl-flex justify-content-xxl-center" style="height: 190px;padding-top: 3px;padding-bottom: 0px;"></div>
                            <div class="col"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="178" height="172" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" style="margin-top: 7px;margin-left: 19px;"></div>
                            <div class="col"></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h1 style="text-align: center;font-weight: bold;font-size: 35px;">RUBIIFY</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h1 style="text-align: center;font-size: 25px;">Verification Status: <%= @licence.licence_status %></h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text-start d-xxl-flex" style="text-align: center;font-weight: bold;font-size: 20px;margin-top: 20px;margin-left: 32px;">Founder:</p>
                            </div>
                            <div class="col">
                                <p style="font-size: 20px;text-align: center;margin-top: 15px;">Willie Koo</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text-start d-xxl-flex" style="text-align: center;font-weight: bold;font-size: 20px;margin-top: 20px;margin-left: 32px;">Website:</p>
                            </div>
                            <div class="col">
                                <p style="font-size: 20px;text-align: right;margin-top: 15px;"></p>
                                <p style="font-size: 20px;text-align: center;margin-top: 15px;">www.williekoo.com</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text-start d-xxl-flex" style="text-align: center;font-weight: bold;font-size: 20px;margin-top: 20px;margin-left: 32px;">UEN Number:</p>
                            </div>
                            <div class="col">
                                <p style="font-size: 20px;text-align: right;margin-top: 15px;"></p>
                                <p style="font-size: 20px;text-align: center;margin-top: 15px;">12345678abc</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text-start d-xxl-flex" style="text-align: center;font-weight: bold;font-size: 20px;margin-top: 20px;margin-left: 32px;">Based in:</p>
                            </div>
                            <div class="col">
                                <p style="font-size: 20px;text-align: right;margin-top: 15px;"></p>
                                <p style="font-size: 20px;text-align: center;margin-top: 15px;">Singapore</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text-start d-xxl-flex" style="text-align: center;font-weight: bold;font-size: 20px;margin-top: 20px;margin-left: 32px;">Address:</p>
                            </div>
                            <div class="col">
                                <p style="font-size: 20px;text-align: right;margin-top: 15px;"></p>
                                <p style="font-size: 20px;text-align: center;margin-top: 15px;">35 somestreet road&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-6" style="padding-top: 15px;padding-bottom: 22px;height: 1027px;">
                <div class="row">
                    <div class="col">
                        <h1 style="font-size: 30px;margin-bottom: 35px;">Franchise License applied</h1>
                        <div class="row">
                            <div class="col">
                                <div class="card" style="border-radius: 10px;box-shadow: 0px 0px 3px;">
                                    <div class="card-body" style="height: 496px;box-shadow: 0px 0px, 0px 0px;">
                                        <div class="row">
                                            <div class="col"></div>
                                            <div class="col"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="178" height="172" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" style="margin-top: 7px;margin-left: 19px;">
                                                <p style="text-align: center;margin-top: 9px;">Franchise name</p>
                                            </div>
                                            <div class="col"></div>
                                        </div>
                                        <div class="row" style="height: 45px;">
                                            <div class="col">
                                                <p style="text-align: center;margin-top: 8px;">Proposed Location :</p>
                                            </div>
                                            <div class="col">
                                                <p style="text-align: center;margin-top: 10px;">50 somestreet road<br></p>
                                            </div>
                                        </div>
                                        <div class="row" style="height: 45px;">
                                            <div class="col">
                                                <p style="text-align: center;margin-top: 6px;">Business Proposal :</p>
                                            </div>
                                            <div class="col d-xxl-flex justify-content-xxl-center"><%= link_to "Download", "#{cl_image_path(@licence.proposal.key)}", :target => "_blank", :class => "btn btn-dark", :style => "height: 35px;border-radius: 0.25rem;"%></div>
                                        </div>
                                        <div class="row" style="height: 45px;">
                                            <div class="col">
                                                <p style="text-align: center;margin-top: 8px;">Signed Contract :</p>
                                            </div>
                                            <div class="col d-xxl-flex justify-content-xxl-center"><button class="btn btn-dark" type="button" style="height: 35px;border-radius: 0.25rem;">Download</button></div>
                                        </div>
                                        <button type="button" class="btn btn-primary btn-sm">Issue Contract</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 style="font-size: 30px;margin-top: 15px;">Finances</h1>
                <div class="row" style="height: 144.7969px;margin-top: 30px;">
                    <div class="col">
                        <div class="card" style="height: 130px;border-radius: 20px;box-shadow: 0px 0px 3px;">
                            <div class="card-body" style="padding-top: 35px;padding-bottom: 35px;">
                                <h4 class="card-title" style="text-align: center;font-weight: bold;">Paid Up Capital</h4>
                                <p class="card-text" style="text-align: center;">$<%= @licence.company_profile.paid_up_capital %></p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="border-radius: 20px;box-shadow: 0px 0px 3px;">
                            <div class="card-body" style="height: 130px;padding-top: 35px;padding-bottom: 35px;">
                                <h4 class="card-title" style="text-align: center;font-weight: bold;margin: 0 auto;">2021 WY Revenue</h4>
                                <p class="card-text" style="text-align: center;">$<%= @licence.company_profile.last_fy_revenue %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="margin-top: 20px;height: 140px;">
                        <div class="card" style="height: 130px;border-radius: 20px;box-shadow: 0px 0px 3px;">
                            <div class="card-body" style="border-radius: 0px;padding-top: 35px;padding-bottom: 35px;box-shadow: 0px 0px;">
                                <h4 class="card-title" style="text-align: center;font-weight: bold;">Finances</h4>
                                <p class="card-text" style="font-size: 16px;text-align: center;">$1000000</p>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="margin-top: 20px;">
                        <div class="card" style="border-radius: 20px;box-shadow: 0px 0px 3px;">
                            <div class="card-body" style="height: 130px;padding-top: 35px;padding-bottom: 35px;">
                                <h4 class="card-title" style="text-align: center;font-weight: bold;">Finances</h4>
                                <p class="card-text" style="text-align: center;">$1000000</p>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 style="font-size: 30px;margin-top: 35px;margin-bottom: 15px;">Documents</h1>
                <div class="row">
                    <div class="col">
                        <div class="card" style="border-radius: 20px;box-shadow: 0px 0px 3px;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xxl-6">
                                        <h4 style="font-size: 20px;text-align: left;padding-top: 0px;margin-top: 23px;">Acra registration:&nbsp;</h4>
                                    </div>
                                    <div class="col-xxl-2"></div>
                                    <div class="col-xxl-3"><a class="btn btn-dark" type="button" style="width: 110px;margin-left: 8px;margin-top: 10px;border-radius: 0.25rem;">Download</a></div>
                                </div>
                                <div class="row">
                                    <div class="col-xxl-6">
                                        <h4 style="font-size: 20px;text-align: left;margin-top: 23px;">Financial Statement:&nbsp;</h4>
                                    </div>
                                    <div class="col-xxl-2"></div>
                                    <div class="col-xxl-3"><button class="btn btn-dark" type="button" style="width: 110px;margin-left: 8px;margin-top: 10px;border-radius: 0.25rem;">Download</button></div>
                                </div>
                                <div class="row">
                                    <div class="col-xxl-6">
                                        <h4 style="font-size: 20px;text-align: left;padding-top: 0px;margin-top: 23px;">Relevant Licences:</h4>
                                    </div>
                                    <div class="col-xxl-2"></div>
                                    <div class="col-xxl-3"><button class="btn btn-dark" type="button" style="width: 110px;margin-left: 8px;margin-top: 10px;border-radius: 0.25rem;">Download</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 style="font-size: 30px;margin-top: 30px;margin-bottom: 13px;">Legal</h1>
                <div class="row" style="margin-top: 30px;">
                    <div class="col" style="margin-top: 0px;margin-bottom: 20px;">
                        <div class="card" style="box-shadow: 0px 0px 3px;border-radius: 20px;height: 181.992px;">
                            <div class="card-body" style="margin-top: 0px;">
                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
