<h1><%= @licence.company_profile.name %> applying for <%= @licence.franchise.name %></h1><br>
<%= link_to "Back", :back %><br>

<ul>
  <li>Proposed Location: <%= @licence.proposed_location %></li>
  <li>Docu Sign Contract</li>
  <li>Proposal</li>
  <li>Status: <%= @licence.licence_status %></li>
</ul>
