<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="en">

<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-1 col-xxl-3">
        <h2 style="text-align: left;width: 295px;margin-left: 2px;margin-right: 0px;margin-top: 19px;margin-bottom: 15px;">Licence Application</h2>
          <!-- Button trigger modal -->
          <div style="margin-left: 990px;"><button type="button" class="btn btn-dark" onclick='openModal()'>Comments
          </button></div>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
                  <button type="button" class="close" aria-label="Close"  onclick="closeModal()">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  Thank you for submitting your proposal, we would require more information with regards to slide 16 - the forecast numbers for Q3 will need more justification. Thank you!
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
                  <%# <button type="button" class="btn btn-primary">Save changes</button> %>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-backdrop fade show" id="backdrop"  style="display: none;"></div>
      <script>
        function openModal() {
          document.getElementById("backdrop").style.display = "block"
          document.getElementById("exampleModal").style.display = "block"
          document.getElementById("exampleModal").classList.add("show")
        }
        function closeModal() {
          document.getElementById("backdrop").style.display = "none"
          document.getElementById("exampleModal").style.display = "none"
          document.getElementById("exampleModal").classList.remove("show")
        }
        // Get the modal
        var modal = document.getElementById('exampleModal');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            closeModal()
          }
        }
      </script>
    </div>
    <div class="col-md-4 col-lg-4 col-xxl-3"></div>
    <div class="col-xxl-2"></div>
    <div class= "d-flex flex-row justify-content-end">
      <div class="p-2">
        <% if @licence.licence_status == "pending" && current_user.admin? %></div>
          <div class="p-2"><%= render "licences/approve", licence: @licence %></div>
          <div class="p-2"><%= render "licences/reject", licence: @licence %></div>
        <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-xxl-6 d-flex d-xxl-flex">
      <div class="card" style="width: 650px; border-radius: 5px">
        <div class="card-body align-middle" style="height: 600px">
          <div class="row">
            <div class="col d-xxl-flex justify-content-xxl-center" style="padding-top: 1px;padding-bottom: 0px;"></div>
            <div class="col"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="178" height="172" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" style="margin-top: 7px;margin-left: 19px;"></div>
            <div class="col"></div>
          </div>

          <div class="row">
            <div class="col">
              <div class="font-title mx-auto d-block pt-2"><%= @licence.company_profile.name %></div>
            </div>
          </div>

          <div class="row">
            <div class="col info font-content">
              <div><p><strong>Founder :</strong></p></div>
              <p><%= @licence.company_profile.profile.first_name %></p>
            </div>
          </div>

          <div class="row">
            <div class="col info font-content">
              <div><p><strong>Verification Status :</strong></p></div>
              <p><%= @licence.company_profile.status.titleize %></p>
            </div>
          </div>

          <div class="row">
            <div class="col info font-content">
              <div><p><strong>Website :</strong></p></div>
              <p><%= @licence.company_profile.url %></p>
            </div>
          </div>

          <div class="row">
            <div class="col info font-content">
              <div><p><strong>UEN :</strong></p></div>
              <p><%= @licence.company_profile.uen %></p>
            </div>
          </div>

          <div class="row">
            <div class="col info font-content">
              <div><p><strong>Based in :</strong></p></div>
              <p>Singapore</p>
            </div>
          </div>

          <div class="row">
            <div class="col info font-content">
              <div><p><strong>Address :</strong></p></div>
              <p><%= @licence.company_profile.address %></p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-6 col-xxl-6" style="padding-top: 15px;padding-bottom: 22px;height: 1027px;">
      <div class="row">
        <div class="col font-category-title mb-2">
          <span>Applying to be a Partner of</span>
        </div>
        <div class="row mb-2">
          <div class="col">
            <div class="card shadow-sm" style="border-radius: 5px">
              <div class="card-body align-middle" style="height: 450px">
                <div class="row">
                  <div class="col"></div>
                  <div class="col">
                    <img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="178" height="172" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" style="margin-top: 7px;margin-left: 19px;">
                    <div class="font-title mx-auto d-block pt-2">
                      <%= @licence.franchise.name %>
                    </div>
                  </div>
                  <div class="col"></div>
                </div>

                <div class="row">
                  <div class="col info font-content">
                    <p><strong>Proposed Location :</strong></p>
                    <p><%= @licence.proposed_location %>
                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col info font-content">
                    <p><strong> Business Proposal : </strong></p>
                    <div><%= link_to "Download", "#{cl_image_path(@licence.proposal.key)}", :target => "_blank", :class => "btn btn-dark"%></div>
                  </div>
                </div>

                <div class="row" style="height: 45px;">
                  <div class="col info font-content">
                    <p><strong>Signed Contract : </strong></p>
                    <div>
                      <% unless @licence.contract_url.present? || @licence.user == current_user  %>
                        <%= link_to 'Issue Contract', licence_create_contract_path(licence_id: @licence.id), class: 'btn btn-dark btn-sm', style: "height: 35px, border-radius: 0.25rem"%>
                      <% end %>

                      <% if !@licence.contract_signed? && @licence.contract_url.present? && @licence.user == current_user %>
                        <%= link_to 'Sign Contract', licence_sign_contract_path(licence_id: @licence.id), class: 'btn btn-dark btn-sm', style: "height: 35px, border-radius: 0.25rem"%>
                      <% elsif @licence.contract_url.present? && @licence.contract_signed == true && @licence.user == current_user %>
                        <p>Awaiting Approval</p>
                      <% elsif @licence.user == current_user %>
                        <p>Wait for Contract</p>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col font-category-title mb-2">
          <span>Documents</span>
        </div>
        <div class="row">
          <div class="col">
              <div class="card shadow-sm" style="border-radius: 20px">
                <div class="card-body align-middle" style="height: 250px">
                  <div class="row">
                    <div class="col-xxl-6">
                      <h4 style="font-size: 20px;text-align: left;padding-top: 0px;margin-top: 23px;">Acra registration:&nbsp;</h4>
                    </div>
                    <div class="col-xxl-2"></div>
                    <div class="col-xxl-3"><a class="btn btn-dark" type="button" style="width: 110px;margin-left: 8px;margin-top: 10px;border-radius: 0.25rem;">Download</a></div>
                  </div>
                  <div class="row">
                    <div class="col-xxl-6">
                      <h4 style="font-size: 20px;text-align: left;margin-top: 23px;">Financial Statement:&nbsp;</h4>
                    </div>
                    <div class="col-xxl-2"></div>
                    <div class="col-xxl-3"><button class="btn btn-dark" type="button" style="width: 110px;margin-left: 8px;margin-top: 10px;border-radius: 0.25rem;">Download</button></div>
                  </div>
                  <div class="row">
                    <div class="col-xxl-6">
                      <h4 style="font-size: 20px;text-align: left;padding-top: 0px;margin-top: 23px;">Relevant Licences:</h4>
                    </div>
                    <div class="col-xxl-2"></div>
                    <div class="col-xxl-3"><button class="btn btn-dark" type="button" style="width: 110px;margin-left: 8px;margin-top: 10px;border-radius: 0.25rem;">Download</button></div>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
</body>
