<h1>My Franchises</h1>
<br>
<%= link_to "Create", new_franchise_path(@franchise) %><br>
<% if @franchises.any? %>
  <% @franchises.each do |franchise| %>
    <%= franchise.id %>.
    <%= franchise.name %>,<br>
    Founder: <%= franchise.user.id.profiles.first.first_name %><br>
    Description: <%= franchise.description %>,<br>
    <%= link_to "Quizzes", quizzes_path(franchise.quizzes) %>
    <%= link_to "View details", franchise_path(franchise) %><br><br>
  <% end %>
<% else %>
  <p>No franchises yet.</p>
<% end %>
<br>
