<h1><%= @franchise.name %></h1><br>

<%= link_to "Back", :back %><br>

<p><%= @franchise.description %></p><br>

<%= link_to 'Create New Quiz', new_franchise_quiz_path %>

<%= link_to 'Edit', edit_franchise_path(@franchise), class: "btn btn-primary" %>
